.skills h2 {
    color: var(--text-color);
  }
  .skills {
    background: var(--primary-color);
  }
  .skills .title::after {
    content: "what i know";
    background: var(--primary-color);
  }
  .skills .skills-content .column {
    width: calc(50% - 30px);
    padding-top: 50px;
  }
  .skills .skills-content .left .text {
    color: var(--text2-color);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .skills .skills-content .left p {
    text-align: justify;
    color: var(--text-color);
  }
  .skills .skills-content .left a {
    display: inline-block;
    background: var(--secondary-color);;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid var(--secondary-color);;
    transition: all 0.3s ease;
  }
  .skills .skills-content .left a:hover {
    color: var(--secondary-color);
    background: none;
  }
  .skills .skills-content .right .bars {
    margin-bottom: 15px;
  }
  .skills .skills-content .right .info {
    color: var(--text-color);
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
  }
  .skills .skills-content .right span {
    font-weight: 500;
    font-size: 18px;
  }
  .skills .skills-content .right .line {
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
  }
  .skills .title::before{
    background: var(--text-color);
  }
  .skills .skills-content .right .line::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--secondary-color);;
  }
  
  .skills-content .right .html::before {
    width: 95%;
  }
  .skills-content .right .tailwind::before {
    width: 80%;
  }
  .skills-content .right .js::before {
    width: 90%;
  }
  .skills-content .right .ts::before {
    width: 60%;
  }
  .skills-content .right .react::before {
    width: 80%;
  }
  .skills-content .right .node::before {
    width: 70%;
  }
  .skills-content .right .express::before {
    width: 85%;
  }
  .skills-content .right .mongo::before{
    width: 85%;
  }


  /* media-query starts */

  @media screen and (max-width: 768px){
    section .title{
      margin-bottom: 5px;
    }
    .skills .skills-content {
      flex-direction: column;
      align-items: center;
    }
    .skills .skills-content .column {
      width: 100%;
    }
    .skills .skills-content .left img {
      height: 300px;
      width: 300px;
    }
    .skills .skills-content .right {
      width: 100%;
      padding-top: 14%;
    }
  }